<div class="container text-center my-5">
  <a href="/links" class="btn btn-success">GO to Links</a>
</div>
<div class="container">

  <form action="profile" method="POST">
    <div class="text-center">
      {{!-- <div class="">
        <h2>Horarios:</h2>
        {{#each result.schedule}}
          <div class="col-12">
            <div class="form-group">
              <label for=""><input
                  type="text"
                  name="schedule[{{@key}}]"
                  value="{{this}}"
                />
              </label>
            </div>
          </div>
        {{/each}}
      </div> --}}
      <div class="">
        <h2>Menu text:</h2>
        {{#each result.menu_text}}
          <div class="col-12">
            <div class="form-group">
              <label for="">
                <input
                  type="text"
                  name="menu_text[{{@key}}]"
                  value="{{this.[0]}}"
                />

              </label>
              {{#each this}}
                 <label for="">
                        <input
                          type="text"
                          name="menu_text[{{@key}}]"
                          value="{{[0]}}"
                        />
                        <input
                          type="text"
                          name="menu_text[{{@key}}]"
                          value="{{[1]}}"
                        />
                        <input
                          type="text"
                          name="menu_text[{{@key}}]"
                          value="{{[2]}}"
                        />
                   
                      </label>
                {{#each this}}
                  <div class="col-12">
                    <div class="form-group">
                      <label for="">
                        <input
                          type="text"
                          name="menu_text[{{@key}}]"
                          value="{{this}}"
                        />
                   
                      </label>
                    </div>
                  </div>
                {{/each}}
              {{/each}}
            </div>
          </div>
        {{/each}}

      </div>

    </div>
    <button
      type="submit"
      class="btn btn-success btn-block col-md-6 col-8 m-auto"
    >enviar</button>
  </form>
</div>