<!-- IMG BG STATIC -->
<div class="bg-transparent position-fixed w-100 h-100 fondoportada"></div>
<div class="bg-transparent position-fixed w-100 h-100 fondoportadaone"></div>
<!-- quienes somos -->
<div class="container-fluid py-5 bg-light main_margin text-center main_title">
    <h2 class="col-12 right">Quienes somos..??</h2>
    <h1 class=" logo  col-12 left">{{nameProject}}</h1>
</div>
<div class="container-fluid  bg-light">
    <div class="container py-5  mx-auto my-5 pr-0  scrollshow ">
        <div class="row  col-12 justify-content-around py-5 p-md-5 pr-0  align-items-center scrollshow flex-row-reverse">
            <figure class="col-xl-4 col-lg-4 col-md-6 col-11 text-center ">
                <img class="m-auto d-block w-75 " style=" border-radius: 10%;" src="/img/damarys.jpg" alt="damarys">
                <figcaption class="col-12 pt-3 font-weight-bold">{{admin_b}} <br> <small class="font-italic font-weight-normal">Representante {{nameProject}}</small></figcaption>
            </figure>
            <div class="col-lg-8 col-12 text-justify">
                <p class=""> &nbsp&nbsp&nbspHola¡ Soy Damarys.</p>
                <p>&nbsp&nbsp&nbspDespués de pasar la pandemia por el covid-19, de pasarme de bar en bar, de restaurante en restaurante. </p>
                <p>&nbsp&nbsp&nbspPude darme cuenta que muchos locales tienen la posibilidad de tener una web de su sitio, pero a la vez muchos otros no tienen esa opción, así que estos optaron por la famosa carta QR que creo que la mayoría de personas sabemos a qué me refiero. Había muchos formatos desde la página de google My business(vamos, google lo tiene todo si sabemos buscarlo), pasando por alguna web gratuita que te permite editar tu carta gratis, alguna otra web por la que tienes disponible tu carta, pero tienes que pagar, también de códigos QR con link a las páginas de redes sociales y así también a las que te envían directo a archivos que están en la nube, bueno y variadas opciones más. </p>
                <p>&nbsp&nbsp&nbspTodas muy prácticas y validas al final de cuentas,  para que nuestro negocio tenga y cumpla con la ley. </p>
            </div>
            <div class="col-12 text-justify">
                <p>&nbsp&nbsp&nbsp{{nameProject}} inicia con una idea sencilla pero práctica, una web con los servicios indispensables de tu negocio de hostelería, como es la información de tu local, ubicación y principalmente en centrarnos en menú de tus productos para que puedan llegar a la mesa de tu negocio por medio del ya mencionado y famoso código QR.</p>
                <p>Esperamos que sea de tu gusto.</p>
                <p>Un saludo</p>
                <p>{{admin_b}}<br> </p>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid  bg-white main_margin ">
    <div class="col-lg-3 col-md-5 col-sm-7  col-9 py-5  mx-auto  pr-0  scrollshow ">
        <div class=" py-5  mx-auto  pr-0  scrollshow "></div>
            {{> contact}}
        </div>
    </div> 
</div>

<style>
    .fondoportada {
        background: url("img/picture1.jpg");
        background-position: center;
        background-size: cover;
        z-index: -10;
    }

    .fondoportadaone {
        background: url("img/atardecer.jpg");
        background-position: center;
        background-size: cover;
        z-index: -10;
    }

    .fondoimage {
        background: url("img/rest1.svg");
        background-position: center;
        background-size: cover;
        height: 600px;
    }



    @media (max-width:993px) {}
</style>