<!-- IMG BG STATIC -->
<div class="bg-transparent position-fixed w-100 h-100 fondoportada"></div>
<div class="bg-transparent position-fixed w-100 h-100 fondoportadaone"></div>
<!-- advertising -->
<!-- titles -->
<div class=" py-5 container-fluid bg-light main_margin main_title">
    <h1 class="col-12 text-center pl-0 index left   ">{{lenguage.[subtitle]}}</h1>
    <h2 class="text-center col-12 mb-4 pl-0 right logo  ">{{config.NAMEPROJECT}}</h2>
    <!-- <div class="response-ejemplo"></div> -->
</div>
<!-- index 1 -->
<div class="container-fluid p-xl-5 p-lg-4 p-md-4 p-3 cuadrado">
    <div class=" justify-content-around align-items-center col-12 py-4  row my-0 scrollshow">
        <div class=" col-xl-6 col-lg-4 col-md-4 d-lg-block d-sm-none d-none py-5 fondoimage  "></div>
        <div class=" col-xl-5 col-lg-7 col-md-8 col-sm-10 col-12 divex   p-xl-5 p-lg-4 p-md-4 pr-2 ml-5 ">
            <h3 class="text-center">
              {{lenguage.index1}}              </h3><br>
            <p class=" text-justify">
                &nbsp&nbsp&nbsp&nbsp  {{lenguage.[index1.1]}} <br>
                &nbsp&nbsp&nbsp&nbsp {{lenguage.[index1.2]}} <br>               
                 &nbsp&nbsp&nbsp&nbsp {{lenguage.[index1.3]}}  
            </p>
        </div>
    </div>
</div>
<!-- index 2 -->
<div class=" container-fluid my-5 pt-5 ">
    <!-- content  -->
    <div class="justify-content-around row ">
        <div class="col-xl-3 col-lg-5 col-md-5 col-sm-8 col-11  mb-5 p-4 divex  cuadrado scrollshow ">
            <h3 class=" pr-2">{{lenguage.[index2.10]}} </h3><br>
            <p class="text-justify">
                &nbsp&nbsp&nbsp&nbsp {{lenguage.[index2.11]}}<br><br>
                &nbsp&nbsp&nbsp  {{lenguage.[index2.12]}}
            </p>
        </div>
        <div class="col-xl-3 col-lg-5 col-md-5 col-sm-8 col-11  mb-5 p-4 divex  cuadrado scrollshow ">
            <h3 class=" pr-2">
              {{lenguage.[index2]}}
              </h3><br>
            <p class="text-justify">
                &nbsp&nbsp&nbsp&nbsp{{lenguage.[index2.1]}}<br>
                &nbsp&nbsp&nbsp&nbsp{{lenguage.[index2.2]}}
            </p>
            <div class="text-center mt-5 btn-registrate">
                 <a href="/signup" type="button" class="btn btn-sm btn-outline-primary mx-auto  px-5">{{lenguage.[btn-register]}}</a>
            </div>
        </div>
        <!-- form information  -->
        <section class="col-xl-3 col-lg-5 col-md-5 col-sm-8 col-11 mb-5 p-4   cuadrado scrollshow  " id="main_aside">
            {{>contact }}
            
        </section>
    </div>
</div>
<!-- index 3 -->
<div class="container-fluid mb-5 mr-0 px-0 py-5 cuadrado">
    <div class="row col-12 justify-content-around mr-0 px-lg-5 pl-5 mb-5 scrollshow ">
        <div class="col-12 col-lg-7  presentacion divex    mr-0 p-4">
            <h3 class=''>{{lenguage.[index3]}}</h3>
            <p class="text-justify">
                &nbsp&nbsp&nbsp&nbsp{{lenguage.[index3.1]}}<br>
                &nbsp&nbsp&nbsp{{lenguage.[index3.2]}}<br>
                &nbsp&nbsp&nbsp{{lenguage.[index3.3]}}
             </p>
             <p class="text-center">{{lenguage.[index3.4]}}
                <img src="img/ilustracionresponsive.svg" alt="" class="pl-4" style="width:130px;"> 
            </p>
        </div>
    </div>
    <div class="row mx-0 px-0 justify-content-around">
        <div class="col-xl-2 col-lg-3 col-md-5 col-sm-6 col-7 mx-4 my-3 p-4 divex  cuadrado scrollshow">
            <img src="img/pcaloc.jpg"  alt="" class="w-100">
        </div>
        <div class="col-xl-2 col-lg-3 col-md-5 col-sm-6 col-7 mx-4 my-3 p-4 divex   cuadrado scrollshow">
            <img src="img/tabletaloc.jpg" alt="" class="w-100">
        </div>
        <div class="col-xl-2 col-lg-3 col-md-5 col-sm-6 col-7 mx-4 my-3 p-4 divex   cuadrado scrollshow">
            <img src="img/mobilealoc.jpg" alt="" class="w-100">
        </div>

    </div>

</div>
<!-- index 4 -->
<div class="container-fluid mb-5 mr-0 px-0 py-5 ">
    <div class="row col-12 justify-content-around mr-0 px-lg-5 pl-5 mb-5 scrollshow ">
        <!-- contenido -->
        <div class="col-12 col-lg-7  presentacion divex    mr-0 p-4 cuadrado">
            <h3 class="">{{lenguage.[index4]}}</h3>
            <p class="text-justify">&nbsp&nbsp&nbsp{{lenguage.[index4.1]}}</p>
            <p class="text-center">&nbsp&nbsp&nbsp <strong>{{lenguage.[index4.2]}}</strong><img src="img/rest2.svg" alt="" class="pl-4" style="width:130px">  </p>
        </div>

    </div>
    <div class="row mx-0 px-0 justify-content-around  design_example">
            <div class=" col-xl-2 col-lg-3 col-md-5 col-sm-6 col-7 mx-4 my-3 p-1 divex  cuadrado scrollshow"> 
               <a href="design/example/aaron" class=" "><img src="img/webp/aaron.webp" alt="" class="w-100 h-100"></a> 
             </div>
            <div class=" col-xl-2 col-lg-3 col-md-5 col-sm-6 col-7 mx-4 my-3 p-1 divex  cuadrado scrollshow"> 
               <a href="design/example/liam" class=" "><img src="img/webp/liam.webp" alt="" class="w-100 h-100"></a> 
             </div>
            <div class=" col-xl-2 col-lg-3 col-md-5 col-sm-6 col-7 mx-4 my-3 p-1 divex  cuadrado scrollshow"> 
               <a href="design/example/magui" class=" "><img src="img/webp/magui.webp" alt="" class="w-100 h-100"></a> 
             </div>
            <div class=" col-xl-2 col-lg-3 col-md-5 col-sm-6 col-7 mx-4 my-3 p-1 divex  cuadrado scrollshow"> 
               <a href="design/example/magdy" class=" "><img src="img/webp/magdy.webp" alt="" class="w-100 h-100"></a> 
             </div>
    </div>

</div>
<!-- index 5 -->
<div class="container-fluid mb-5 mr-0 px-0 py-5 cuadrado">
    <!-- contenido III -->
    <div class="row col-12 justify-content-around mr-0 px-lg-5 pl-5 mb-5  scrollshow ">
        <div class="col-12 col-lg-7  presentacion_2   divex   mr-0 p-4 bg-light">
            <h3 class="">{{lenguage.[index5]}}</h3>
            <p class="text-justify">
                &nbsp&nbsp&nbsp{{lenguage.[index5.1]}}
                &nbsp&nbsp&nbsp{{lenguage.[index5.2]}}</p>
            <p class="text-center"> 
                &nbsp&nbsp&nbsp{{lenguage.[index5.3]}}
                <img src="img/ilustracionqr.svg" alt="" class="" style="width:130px;">
            </p>
        </div>
    </div>
    <div class="row mx-0 px-0 justify-content-around">
        <div class="col-xl-2 col-lg-3 col-md-5 col-sm-6 col-7 mx-4 my-3 p-4 divex  cuadrado scrollshow">
            <img src="img/qr1.png" alt="" class="w-100">
        </div>
        <div class="col-xl-2 col-lg-3 col-md-5 col-sm-6 col-7 mx-4 my-3 p-4 divex   cuadrado scrollshow">
            <img src="img/qr2.png" alt="" class="w-100 ">
        </div>
        <div class="col-xl-2 col-lg-3 col-md-5 col-sm-6 col-7 mx-4 my-3 p-4 divex   cuadrado scrollshow">
            <img src="img/qr3.png" alt="" class="w-100">
        </div>
    </div>
</div>
<div class="container-fluid  py-5 cuadrado main_margin">
    <div class="container m-auto justify-content-around row">
        <!-- form comment -->
        <div id="main_comment" class=" col-12  divex justify-content-around row py-4 scrollshow" style=" border-radius:10px;">
            <div class="comment  col-xl-8 col-lg-7 col-sm-9 col-11">
                {{!-- <?php if (isset($_SESSION["usuario"])) { ?> --}}
                    <h3 class="pb-3 text-center">{{lenguage.[index11.1]}}</h3>
                    <div class="respuestacomments  w-100 rounded text-center" style="background-color: var(--color_second);"></div>
                    <form class="d-flex flex-column form-group btn-20 input-group-sm" id="comments">
                        <input class="form-control mb-2 input-sm" id="nameh" name="commt[user]" type="hidden" value='<?= $_SESSION["usuario"]; ?>' />
                        <textarea class="form-control  mb-2 input-sm" name="commt[content]" id="" rows="3" placeholder="Tu comentario..." required></textarea>
                        <button class="btn btn-sm btn-outline-primary mx-auto px-5 mt-3" type="submit" name="enviar_emaail" >{{lenguage.[btn-public]}}</button>
                    </form>
             
                    <h3 class="pb-3 text-center">{{lenguage.[index11.2]}}</h3>
              
            </div>
        </div>
        <!-- comments users -->
        <div class=' col-12 divex row  justify-content-between comments scrollshow'>
        </div>
        <div class='col-12 row justify-content-center pt-3'>
            <a id='addcomment' class='' type='button'><small>{{lenguage.[btn-see-more]}}</small></a>
            <div class="respuestalastcoment  w-100 rounded text-center" style="background-color: var(--color_second);"></div>
        </div>

    </div>
</div>
<style>
    .fondoportada {
        background: url("img/webp/picture1.webp");
        background-position: center;
        background-size: cover;
        z-index: -10;
    }

    .fondoportadaone {
        background: url("img/webp/atardecer.webp");
        background-position: center;
        background-size: cover;
        z-index: -10;
    }

    .fondoimage {
        background: url("img/rest1.svg");
        background-position: center;
        background-size: cover;
        height: 600px;
    }




    @media (max-width:993px) {}

    @media (max-width: 576px) {}
</style>