<div class="main-footer" style="position:sticky; top:0;">
    <footer class="container pl-1">
        <div class=" footer ">
            <div class=" contacto text-center row  pt-3 pb-0 ">
                <dt class="col-12 col-sm-12 mb-1">Información</dt>
                <dd class="col-12 col-sm-4 my-0"> <a href="/about-us">{{lenguage.[aboutus]}}</a> </dd>
                <dd class="col-12 col-sm-4 my-0"> <a href="mailto:info@alocraise.com"> {{lenguage.[email-info]}} </a> </dd>
                <!-- <dd class="col-12 col-sm-4 my-0"><a href="tel:+34010101010101">+34010101010101</a> </dd> -->
                <div class="col-12 col-sm-4 my-0">
                    <dd class="col-12 col-sm-12 my-0"> <a href="/contact"> {{lenguage.[contact]}} </a> </dd>
                    <dd class="col-12 col-sm-12 my-0"> <a href="/cookies-politic"> {{lenguage.[cookies-politic]}} </a> </dd>
                    <dd class="col-12 col-sm-12 my-0"> <a href="/privacity-politic"> {{lenguage.[privacy-politic]}} </a> </dd>
                    <dd class="col-12 col-sm-12 my-0"> <a href="/legal-notice"> {{lenguage.[legal-notice]}} </a> </dd>
                </div>
                <span class="col-12 col-sm-12 mt-2 mb-1"> <a id="copyright" href="/" copyright=" "> &copy; {{nameProject}} 2021</a></span>
            </div>
        </div>
    </footer>
</div>